body {
  padding-top: 70px;
}

img {
  margin: 10px;
}

.row {
  margin-bottom: 10px;
}

.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.portfolio-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}

.portfolio-item:active {
  opacity: .75;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
}