body {
  padding-top: 70px;
}

img {
  margin: 10px;
}

.row {
  margin-bottom: 2em;
}

.row:last-child {
  margin-bottom: 6em;
}

.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.center-text {
  text-align: center;
}

.target-resize {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}