.center {
  margin-left: auto;
  margin-right: auto;
}

.center-flex {
  display: flex;
  justify-content: center;
}

.nav-margin-top {
  margin-top: 5em;
}

.demo-card-square.mdl-card {
  width: 10em;
  height: 10em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
}

.demo-card-square > .blue {
  color: #fff;
  background: #2196F3;
}

.demo-card-square > .red {
  color: #fff;
  background: #F44336;
}

.demo-card-square > .grey {
  color: #fff;
  background: #607D8B;
}

.search-spacing {
  margin-top: 3em;
}

.table>tbody>tr>td, .table>thead:first-child>tr:first-child>th {
  text-align: center;
  vertical-align: middle;
}

.table>thead>tr>th {
  cursor: pointer;
}

.export {
  color: black;
}

#export-container {
  width: 10px;
}

.chart-container {
  padding-left: 3em;
  padding-right: 3em;
}

#accommodationChart {
  height: 24em;
  width: 100%;
}

@media (max-width: 425px) {
  .demo-card-square.mdl-card {
    width: 8em;
  }

  .mdl-card__title-text {
    font-size: 16px;
  }

  .top {
    margin-top: 2em;
  }

}

@media (min-width: 768px) {
  .nav-margin-top {
    margin-top: 8em;
  }
}

@media (min-width: 991px) {
  .nav-margin-top {
    margin-top: 5em;
  }
}