.nav-margin-top {
  margin-top: 6em;
}

.title {
  text-align: center;
}

a {
  color: #68c3a3;
}

.naive {
  line-height: 1;
  font-size: 7em;
  font-family: 'NaiveInlineSansMedium';
}

.btn-primary, .mdl-button {
  background-color: #68c3a3;
  border-color: #68c3a3;
  background: #68c3a3;
}

.sub-title {
  font-family: 'Petit Formal Script', cursive;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  margin: 0px;
}

.petit-formal {
  font-family: 'Petit Formal Script', cursive;
}

.address-form {
  display: flex;
  justify-content: center;
}

.address-lookup-response {
  display: flex-wrap;
  justify-content: center;
  text-align: center; 
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.toggle-ctn {

}

#confirm-address {
  cursor: pointer;
}

.submit {
  margin-bottom: 3em;
}

.mdl-textfield {
  width: 200px;
}

p, h6, h5, th, td, .name, .save-submit, .selectpicker, .btn-group, .dropdown-menu, .address-submit, .mdl-textfield__input, .mdl-textfield__label {
  font-family: 'Didact Gothic', sans-serif;
}

.address-field {
  display: block;
  width: 300px;
}

.address-submit {
  display: block;
  margin: auto;
  background: #68c3a3;
  color: #fff;
}

.save-submit {
  background: #68c3a3;
  color: #fff;
}

.example {
  opacity: 0.4;
}

.name {
  font-size: 16px;
  text-align: center;
}

.table>tbody>tr>td {
  vertical-align: middle;
  text-align: center;
}

.table>thead>tr>th {
  text-align: center;
}

.table-responsive.guests {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.bottom {
  margin-top: 7em;
  margin-bottom: 4em;
}

.extra-margin {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .nav-margin-top {
    margin-top: 8em;
  }
}

@media (min-width: 991px) {
  .nav-margin-top {
    margin-top: 6em;
  }
}