.title {
  text-align: center;
}

.address-form {
  display: flex;
  justify-content: center;
}

.address-lookup-response {
  display: flex-wrap;
  justify-content: center;
  text-align: center; 
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.toggle-ctn {

}

#confirm-address {
  cursor: pointer;
}

.submit {
  margin-bottom: 3em;
}

.mdl-textfield {
  width: 200px;
}

.address-field {
  display: block;
  width: 300px;
}

.address-submit {
  display: block;
  margin: auto;
}

.name {
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table>thead>tr>th {
  text-align: center;
}