{% extends "base.html" %}


{% block head %}
    <title>Page Not Found - Kirin Mysorewala and Chris Pope Wedding Site - kirinandchris.com</title>
    <style type="text/css">
      body {
        margin-top: 50px;
      }
    </style>
{% endblock %}

{% block page_content %}
  <h1>Page Not Found</h1>

  <h3>Sorry, it seems you were trying to access a page that doesn't exist.</h3>

  <h3>Please check the spelling of the URL you were trying to access and try again.</h3>
  
{% endblock %}

{% block scripts %}

{% endblock %}