{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfolio-item.css') }}">
    <title>Kirin and Chris Pope Wedding Memories</title>
{% endblock %}

{% block page_content %}

<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Memories
                    <small>Click on the images below to see some of the things we love</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div id="highlight" class="row">
            <div id="tasting-beer">
                <div class="col-md-8 highlight-image">
                    <img id="highlight-image" class="img-responsive img-thumbnail" src="{{ url_for('static', filename='sierra-nevada-brewery.JPG') }}" alt="kirin-mysorewala-chris-pope-sierra-nevada-brewery">
                    
                    <div class="highlight-thumbs">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='sierra-nevada-brewery.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='bear-republic-brewery-hd.jpg') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='firestone-walker-brewery-hd.JPG') }}">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Tasting Beer</h3>
                    <p>Kirin and Chris share a passion for great beer. Visiting breweries is one of their favorite things to do together. Some of their California favorites include Alesmith, Sierra Nevada, Russian River and Firestone Walker.</p>
                    <div id="image-description" class="description">
                        <h4><em id="first-description">Sierra Nevada Brewing Company</em></h4>
                        <h4><em id="second-description">February 16, 2013, Chico, California</em></h4>
                    </div>
                </div>
            </div>


            <div id="sporting-events">
                <div class="col-md-8 highlight-image">
                    <img id="highlight-image" class="img-responsive img-thumbnail" src="{{ url_for('static', filename='49er-game-hd.JPG') }}" alt="kirin-mysorewala-chris-pope-sierra-nevada-brewery">
                    
                    <div class="highlight-thumbs">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='49er-game-hd.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='giants-spring-training-hd.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='sharks-stadium-series-hd.JPG') }}">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Sporting Events</h3>
                    <p>Kirin and Chris share a passion for great beer. Visiting breweries is one of their favorite things to do together. Some of their California favorites include Alesmith, Sierra Nevada, Russian River and Firestone Walker.</p>
                    <div id="image-description" class="description">
                        <h4><em id="first-description">Sierra Nevada Brewing Company</em></h4>
                        <h4><em id="second-description">February 16, 2013, Chico, California</em></h4>
                    </div>
                </div>
            </div>


            <div id="vacations">
                <div class="col-md-8 highlight-image">
                    <img id="highlight-image" class="img-responsive img-thumbnail" src="{{ url_for('static', filename='hawaii-pls-2013.JPG') }}" alt="kirin-mysorewala-chris-pope-sierra-nevada-brewery">
                    
                    <div class="highlight-thumbs">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='hawaii-pls-2013.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='hawaii-pls-2013.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='hawaii-pls-2013.JPG') }}">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Vacations</h3>
                    <p>Kirin and Chris share a passion for great beer. Visiting breweries is one of their favorite things to do together. Some of their California favorites include Alesmith, Sierra Nevada, Russian River and Firestone Walker.</p>
                    <div id="image-description" class="description">
                        <h4><em id="first-description">Sierra Nevada Brewing Company</em></h4>
                        <h4><em id="second-description">February 16, 2013, Chico, California</em></h4>
                    </div>
                </div>
            </div>


            <div id="weddings">
                <div class="col-md-8 highlight-image">
                    <img id="highlight-image" class="img-responsive img-thumbnail" src="{{ url_for('static', filename='kirin-chris-jenny-wedding-hd.JPG') }}" alt="kirin-mysorewala-chris-pope-sierra-nevada-brewery">
                    
                    <div class="highlight-thumbs">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='kirin-chris-jenny-wedding-hd.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='kirin-chris-jenny-wedding-hd.JPG') }}">
                        <img class="img-responsive img-thumbnail" src="{{ url_for('static', filename='kirin-chris-jenny-wedding-hd.JPG') }}">
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Weddings</h3>
                    <p>Kirin and Chris share a passion for great beer. Visiting breweries is one of their favorite things to do together. Some of their California favorites include Alesmith, Sierra Nevada, Russian River and Firestone Walker.</p>
                    <div id="image-description" class="description">
                        <h4><em id="first-description">Sierra Nevada Brewing Company</em></h4>
                        <h4><em id="second-description">February 16, 2013, Chico, California</em></h4>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div id="tasting-beer-thumb" class="col-sm-3 col-xs-6">
                <a href="#">
                    <div class="image">
                        <img class="img-responsive img-thumbnail portfolio-item" src="static/sierra-nevada-brewery.JPG" alt="kirin-mysorewala-chris-pope-wedding-memories-sierra-nevada-brewery">
                    </div>
                </a>
            </div>

            <div id="sporting-events-thumb" class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail portfolio-item" src="static/49er-game.JPG" alt="kirin-mysorewala-chris-pope-wedding-memories-49er-game">
                </a>
            </div>

            <div id="vacations-thumb" class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail portfolio-item" src="static/hawaii-pls-2013.JPG" alt="kirin-mysorewala-chris-pope-wedding-memories-hawaii">
                </a>
            </div>

            <div id="weddings-thumb" class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail portfolio-item" src="static/kirin-chris-jenny-wedding.jpg" alt="kirin-mysorewala-chris-pope-wedding-memories-jenny-wedding">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; kirinandchris.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/portfolio-item.js"></script>
{% endblock %}
