{% extends "base.html" %}

{% block head %}
  <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsvp-admin.css') }}">
{% endblock head%}

{% block page_content %}
  <div class="row center-flex">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input id="search" class="mdl-textfield__input" name="search" type="text" data-list=".list">
      <label class="mdl-textfield__label" for="sample3">Search...</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="table-container">
        <table class="table responsive mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th>Address</th>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th>Attending?</th>
              <th>Dietary Restrictions</th>
            </tr>
          </thead>
          <tbody class="list">
            {% for item in guests %}
              <tr>
                <td>{{ item.address }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ item.first_name }} {{ item.last_name }}</td>
                <td>
                  {{ item.attending }}
                </td>
                <td>
                  {{ item.dietary_restrictions }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock page_content %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.hideseek.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='rsvp-admin.js') }}"></script>
{% endblock %}