{% extends "base.html" %}

{% block head %}
<title>RSVP</title>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsvp.css') }}">
{% endblock head %}

{% block page_content %}
<div class="row title">
  <h1>RSVP</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    <div class="address-form">
{#       <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Please Enter the Address on Your Invite...</label>
        </div>
      </form> #}

      <form role="form" method="POST" action="/rsvp">
        {{ addressForm.csrf_token }}
        {{ addressForm.address.label }} {{ addressForm.address() }}
        {{ addressForm.submit() }}
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="address-lookup-response">
      {% if check %}
        <h6>Did you mean this address?</h6>
        <a id="confirm-address"><h6>{{ x[0] }}</h6></a>
      {% elif g %}
        <h6>Success!</h6>
        <h6>Please RSVP for the members in your Party at this Addresss:</h6>
        <h6><em>{{ q.address }}</em></h6>
      {% else %}
      {% if error %} 
          <h6>Sorry, we don't recognize that address.</h6> 
          <h6>Please re-enter your address as it appears on your invite.</h6> 
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% if g %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="table-container">
        <table class="table responsive mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th>Attending?</th>
              <th>Dietary Restrictions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in g %}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ item.first_name }} {{ item.last_name }}</td>
                <td class="toggle-ctn">
                  <div class="toggle-container">
                    <div class="toggle-center">
                      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect attending" for="{{ item.id }}">
                        <input type="checkbox" id="{{ item.id }}" class="mdl-switch__input">
                        <span class="mdl-switch__label"></span>
                      </label>
                    </div>
                  </div>
                </td>
                <td>
                  <select gid="{{ item.id }}" class="selectpicker" data-width="120px">
                    <option>None</option>
                    <option>Kosher</option>
                    <option>Gluten Free</option>
                    <option>Vegan</option>
                    <option>Nut-allergies</option>
                  </select>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="title">Where will your party be staying?</p>
    </div>
    <div class="col-sm-12 btn-container">
      <select pid="{{ q.id }}" class="selectpicker" title="Please select..." show-tick>
        <option>Blue Sky Lodge</option>
        <option>Los Laureles</option>
        <option>Carmel Valley Lodge</option>
        <option>Bernardus Lodge & Spa</option>
        <option>Carmel Valley Ranch</option>
        <option>Quail Lodge & Golf Club</option>
        <option>Hyatt Regency Monterey</option>
        <option>Hilton Garden Inn Monterey</option>
        <option>Airbnb/Rental</option>
        <option>Other</option>
      </select>
    </div>
  </div>


{#   <div class="row">
    <div class="col-sm-12 table-container">
      <button id="menu-speed" class="mdl-button mdl-js-button mdl-button--raised">
        Where Will You Be Staying? <i class="material-icons">expand_more</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="menu-speed">
        <li id="blue-sky-lodge" class="mdl-menu__item">Blue Sky Lodge</li>
        <li id="los-laureles" class="mdl-menu__item">Los Laureles</li>
        <li id="carmel-valley-lodge" class="mdl-menu__item">Carmel Valley Lodge</li>
        <li id="bernardus" class="mdl-menu__item">Bernardus Lodge & Spa</li>
        <li id="carmel-valley-ranch" class="mdl-menu__item">Carmel Valley Ranch</li>
        <li id="quail-lodge-and-golf-club" class="mdl-menu__item">Quail Lodge & Golf Club</li>
        <li id="hyatt-regency-monterey" class="mdl-menu__item">Hyatt Regency Monterey</li>
        <li id="hilton-garden-inn-monterey" class="mdl-menu__item">Hilton Garden Inn Monterey</li>
        <li id="rental" class="mdl-menu__item">Airbnb/Rental</li>
        <li id="other" class="mdl-menu__item">Other</li>
      </ul>
    </div>
  </div> #}

  <div class="row">
    <div class="submit table-container">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>

{% endif %}

{% endblock page_content %}
  
{% block scripts %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='rsvp.js') }}"></script>
{% endblock scripts %}