{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='business-frontpage.css') }}">
    <title>Kirin and Chris Wedding Location</title>
{% endblock %}

{% block page_content %}

<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">The Big Day</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Holman Ranch</h2>
                <p>Tucked away in the rolling hills of Carmel Valley, historic Holman Ranch provides a unique and memorable setting for weddings, special events, family gatherings, corporate retreats, and team-building events. With its charming gardens, stunning mountain views and serenity, this private estate affords old-world charm while providing modern day conveniences. This impressive property includes a fully restored stone hacienda, overnight guest rooms, vineyards, olive grove, horse stables and a tasting room where guests can sample our wines.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="http://www.holmanranch.com">View Photos &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Location</h2>
                <address>
                    <a target="_blank" href="https://www.google.com/maps/place/Holman+Ranch/@36.4819829,-121.7190045,17z/data=!3m1!4b1!4m2!3m1!1s0x808df47f844ebea9:0x1bf4d0b15792f623"><strong>Holman Ranch</strong></a>
                    <br>19 Carmel Valley Rd. 
                    <br>Carmel Valley, CA 93924
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(831) 659-2640
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">info@kirinandchris.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; kirinandchris.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
