{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='round-about.css') }}">
    <title>Kirin and Chris' Wedding Party</title>
{% endblock %}

{% block page_content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px;" src="static/christine-woodin.jpg" alt="">
                <h3>Christine Woodin
                    <small>Maid of Honor</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/kevin-brashear.jpg" alt="">
                <h3>Kevin Brashear
                    <small>Best Man</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/katie-pope.JPG" alt="">
                <h3>Katie Pope
                    <small>Bridesmaid</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/adam-mysorewala.jpg" alt="">
                <h3>Adam Mysorewala
                    <small>Groomsman</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/meaghan-shanley.jpg" alt="">
                <h3>Meaghan Shanley
                    <small>Bridesmaid</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/nick-owen.jpg" alt="">
                <h3>Nick Owen
                    <small>Groomsman</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="static/kelly-clements.jpg" alt="">
                <h3>Kelly Clements
                    <small>Bridesmaid</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/joe-gutto.jpg" alt="">
                <h3>Joe Gutto
                    <small>Groomsman</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/amin-kathleen-mysorewala.jpg" alt="">
                <h3>Amin and Kathleen Mysorewala
                    <small>Parents of the Bride</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/mike-vicki-pope.jpg" alt="">
                <h3>Mike and Vicki Pope
                    <small>Parents of the Groom</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div style="float:none;margin:0 auto;" class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:200px; height:200px;" src="static/flower-girl.jpg" alt="">
                <h3>Auden Murphy
                    <small>Flower Girl</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
        </div>



        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
