{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='round-about.css') }}">
    <title>Kirin and Chris' Wedding Party</title>
{% endblock %}

{% block page_content %}

    <!-- Page Content -->
    <div class="container">
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/christine-woodin-1.JPG" alt="kirin-mysorewala-christine-woodin-maid-of-honor">
                <h3>Christine Woodin
                    <small>Maid of Honor</small>
                </h3>
                <p>Christine and I met and became friends during high school. After graduating, we both went to college in L.A. (Christine to Caltech and me to LMU…basically the same thing), met boyfriends from the South Bay Area, and are now getting married one month apart from each other. Christine currently lives in Austin and although we are not geographically close, we talk everyday. I’m so proud of everything she has accomplished, and the way she carries herself has always served as a silent motivator for me. I’ve never met anyone with her level of humility and maturity, and I’m so grateful that she is such a big part of my life.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/kevin-brashear.jpg" alt="chris-pope-kevin-brashear-best-man">
                <h3>Kevin Brashear
                    <small>Best Man</small>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra consequat cursus. Pellentesque suscipit, neque eget facilisis eleifend, diam tortor tristique mauris, nec euismod ligula odio sed augue. Sed efficitur porta turpis ac malesuada. Suspendisse lectus justo, pellentesque quis egestas at, viverra eget dolor. Maecenas sit amet felis luctus, tincidunt eros ut, consectetur purus. Maecenas mi odio, dapibus ut accumsan nec, eleifend vel diam. Proin efficitur, sem ut ullamcorper efficitur, ante libero imperdiet metus, non rhoncus urna nulla eget arcu. Phasellus luctus, sem in porta posuere, sapien tellus tempus quam, eget malesuada ipsum nisi vitae justo. Suspendisse ut tortor est. Etiam euismod justo non dictum condimentum. Mauris at rhoncus nibh.</p>
                <!-- <p>Favorie Memory: Sitting front row at the live video recording of Daniel Tosh's <em>Completely Serious</em> in Orange County. Or jumping off of his roof into the pool during summer</p> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/katie-pope.JPG" alt="kirin-mysorewala-katie-pope-bridesmaid">
                <h3>Katie Pope
                    <small>Bridesmaid</small>
                </h3>
                <p>Katie and I met when she joined Pi Beta Phi in 2009 - she was actually the first member of the Pope family I met, including Chris. Katie was one of the most beloved people in our sorority and I feel fortunate that I had the unique opportunity of getting to know her as a friend first, and then as a family member. She has this indescribable energy and can make anyone smile without even trying. I always look forward to spending time with her during holidays and family vacations and am extremely lucky that Chris has a sister that I get along with so well. It feels like she has been family for awhile now, but I’m thrilled to be making it official.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/adam-mysorewala.jpg" alt="chris-pope-adam-mysorewala-groomsman">
                <h3>Adam Mysorewala
                    <small>Groomsman</small>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra consequat cursus. Pellentesque suscipit, neque eget facilisis eleifend, diam tortor tristique mauris, nec euismod ligula odio sed augue. Sed efficitur porta turpis ac malesuada. Suspendisse lectus justo, pellentesque quis egestas at, viverra eget dolor. Maecenas sit amet felis luctus, tincidunt eros ut, consectetur purus. Maecenas mi odio, dapibus ut accumsan nec, eleifend vel diam. Proin efficitur, sem ut ullamcorper efficitur, ante libero imperdiet metus, non rhoncus urna nulla eget arcu. Phasellus luctus, sem in porta posuere, sapien tellus tempus quam, eget malesuada ipsum nisi vitae justo. Suspendisse ut tortor est. Etiam euismod justo non dictum condimentum. Mauris at rhoncus nibh.</p>
                <!-- <p>Favorite Memory: A four-way jumping up and down hug after the 49ers won the 2012 NFC Championship in Atlanta.</p> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/meaghan-shanley.jpg" alt="kirin-mysorewala-meaghan-shanley-bridesmaid">
                <h3>Meaghan Shanley
                    <small>Bridesmaid</small>
                </h3>
                <p>Meaghan and I met in a philosophy class at LMU in 2008, when we discovered that she had just joined my sorority. After college, she moved to San Francisco, and our semi-weekly meet-ups have become one of the things I look forward to most. Her roommates make fun of us because we spend most of our time together eating in her bed and watching Pretty Little Liars, but this routine is always one of the highlights of my week. Meaghan takes her friendships very seriously and is one of the most loyal people I know. When you meet her, you can instantly tell how strongly she stands by the people in her life, and I feel so lucky to be one of them.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/nick-owen.jpg" alt="chris-pope-nick-owen-groomsman">
                <h3>Nick Owen
                    <small>Groomsman</small>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra consequat cursus. Pellentesque suscipit, neque eget facilisis eleifend, diam tortor tristique mauris, nec euismod ligula odio sed augue. Sed efficitur porta turpis ac malesuada. Suspendisse lectus justo, pellentesque quis egestas at, viverra eget dolor. Maecenas sit amet felis luctus, tincidunt eros ut, consectetur purus. Maecenas mi odio, dapibus ut accumsan nec, eleifend vel diam. Proin efficitur, sem ut ullamcorper efficitur, ante libero imperdiet metus, non rhoncus urna nulla eget arcu. Phasellus luctus, sem in porta posuere, sapien tellus tempus quam, eget malesuada ipsum nisi vitae justo. Suspendisse ut tortor est. Etiam euismod justo non dictum condimentum. Mauris at rhoncus nibh.</p>
                <!-- <p>Favorite Memory: Any one of the three times we have been to Wolfgang Puck's CUT steakhouse in Las Vegas.</p> -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/kelly-clements.jpg" alt="kirin-mysorewala-kelly-clements-bridesmaid">
                <h3>Kelly Clements
                    <small>Bridesmaid</small>
                </h3>
                <p>Kelly was one of the first people I met when I joined Pi Beta Phi in 2007. We were sitting next to each other at a seminar and she leaned over (not knowing me) and started whispering jokes. At that moment, I was hooked. She is incredibly easy-going, kind and accepting, and has a way of making everyone around her feel comfortable and happy. She lives in Phoenix now so we don’t see each other frequently, but when we do, we pick up right where we left off. I never laugh as much as I do when we are together and am excited for the new memories that this year will bring.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/joe-gutto.jpg" alt="chris-pope-joe-gutto-groomsman">
                <h3>Joe Gutto
                    <small>Groomsman</small>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra consequat cursus. Pellentesque suscipit, neque eget facilisis eleifend, diam tortor tristique mauris, nec euismod ligula odio sed augue. Sed efficitur porta turpis ac malesuada. Suspendisse lectus justo, pellentesque quis egestas at, viverra eget dolor. Maecenas sit amet felis luctus, tincidunt eros ut, consectetur purus. Maecenas mi odio, dapibus ut accumsan nec, eleifend vel diam. Proin efficitur, sem ut ullamcorper efficitur, ante libero imperdiet metus, non rhoncus urna nulla eget arcu. Phasellus luctus, sem in porta posuere, sapien tellus tempus quam, eget malesuada ipsum nisi vitae justo. Suspendisse ut tortor est. Etiam euismod justo non dictum condimentum. Mauris at rhoncus nibh.</p>
                <!-- <p>Favorite Memory: Another classic 49er game, 2011 NFC Division Playoff game against the Saints "Vernon Post"</p> -->
            </div>
        </div>
        <div class="row">
            <hr class="divider">

            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/amin-kathleen-mysorewala.jpg" alt="kirin-mysorewala-amin-kathleen-mysorewala-parents-of-the-bride">
                <h3>Kathleen Murphy and Amin Mysorewala
                    <small>Parents of the Bride</small>
                </h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/mike-vicki-pope-2.jpg" alt="chris-pope-mike-vicki-pope-parents-of-the-groom">
                <h3>Vicki and Mike Pope
                    <small>Parents of the Groom</small>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/flower-girl.jpg" alt="kirin-mysorewala-flower-girl">
                <h3>Auden Murphy
                    <small>Flower Girl</small>
                </h3>
                <p>Step-sister of the Bride</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center section-spacing">
                <img class="img-circle img-responsive img-center thumb" src="static/justin-oneill.jpg" alt="kirin-mysorewala-chris-pope-justin-oneill-officiant">
                <h3>Justin O'Neill
                    <small>Officiant</small>
                </h3>
                <p>Cousin of the Groom</p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; kirinandchris.com</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

{% endblock %}
