{% extends "base.html" %}

{% block head %}
<title>RSVP</title>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsvp.css') }}">
{% endblock head %}

{% block page_content %}
<div class="row title">
  <h1 class="naive">RSVP</h1>
  <h3 class="sub-title">We hope you can join us!</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    <div class="address-form">
      <form id="addressLookup" role="form" method="POST" action="/rsvp">
        <div class="address-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" name="address" type="text" id="address">
          <label class="mdl-textfield__label" for="address">Enter the first line of your address...</label>
        </div>
        <p class="title example"><em>(ex. 16 Montana Dr. Apt. 49)</em></p>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect address-submit">
      </form>
    </div>
  </div>
</div>
<div class="row extra-margin">
  <div class="col-sm-12">
    <div class="address-lookup-response">
      {% if check %}
        <h4>Did you mean this address?</h4>
        <a id="confirm-address"><h3>{{ x[0] }}</h3></a>
      {% elif g %}
        <h4 class="petit-formal">Success!</h4>
        <h4>Please RSVP for guests at the address below:</h4>
        <h4><em>{{ q.address }}</em></h4>
      {% else %}
      {% if error %} 
          <h6>Sorry, we don't recognize that address.</h6> 
          <h6>Please re-enter your address as it appears on your invite.</h6> 
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% if g %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
      <div class="table-container table-responsive guests">
        <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email <em>(optional)</em></th>
              <th>Attending?</th>
              <th>Dietary Restrictions</th>
            </tr>
          </thead>
          <tbody>
            {% for item in g %}
              <tr gid="{{ item.id }}">
                <td gid="{{ item.id }}" class="name">{{ item.first_name }} {{ item.last_name }}</td>
                <td>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input gid="{{ item.id }}" gfield="email" class="mdl-textfield__input" type="email" id="{{ item.id }}" {% if item.email %} value="{{ item.email }}" {% endif %}>
                    <label class="mdl-textfield__label" for="{{ item.id }}">Email...</label>
                  </div>
                </td>
                <td class="toggle-ctn">
                  <div class="toggle-container">
                    <div class="toggle-center">
                      <input gid="{{ item.id }}" gfield="attending" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" {% if item.attending %} checked {% endif %}>
                    </div>
                  </div>
                </td>
                <td>
                  <select gfield="dietary_restrictions" gid="{{ item.id }}" class="selectpicker" data-width="120px">
                    <option value="none">None</option>
                    <option {% if item.dietary_restrictions is equalto "kosher" %} selected="selected" {% endif %} value="kosher">Kosher</option>
                    <option {% if item.dietary_restrictions is equalto "gluten_free" %} selected="selected" {% endif %} value="gluten_free">Gluten Free</option>
                    <option {% if item.dietary_restrictions is equalto "vegan" %} selected="selected" {% endif %} value="vegan">Vegan</option>
                    <option {% if item.dietary_restrictions is equalto "nut-allergies" %} selected="selected" {% endif %} value="nut-allergies">Nut-allergies</option>
                  </select>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="title">Where will your party be staying? <em>(optional)</em></p>
    </div>
    <div class="col-sm-12 btn-container">
      <select pid="{{ q.id }}" pfield="accommodations" class="selectpicker" title="Please select..." show-tick>
        <option {% if q.accommodations is equalto "airbnb_rental" %} selected="selected" {% endif %} value="airbnb_rental">Airbnb/Rental</option>
        <option {% if q.accommodations is equalto "bernardus_lodge" %} selected="selected" {% endif %} value="bernardus_lodge">Bernardus Lodge & Spa</option>
        <option {% if q.accommodations is equalto "blue_sky_lodge" %} selected="selected" {% endif %} value="blue_sky_lodge">Blue Sky Lodge</option>
        <option {% if q.accommodations is equalto "carmel_valley_lodge" %} selected="selected" {% endif %} value="carmel_valley_lodge">Carmel Valley Lodge</option>
        <option {% if q.accommodations is equalto "carmel_valley_ranch" %} selected="selected" {% endif %} value="carmel_valley_ranch">Carmel Valley Ranch</option>
        <option {% if q.accommodations is equalto "hyatt_regency" %} selected="selected" {% endif %} value="hyatt_regency">Hyatt Regency Monterey</option>
        <option {% if q.accommodations is equalto "hilton_garden_inn" %} selected="selected" {% endif %} value="hilton_garden_inn">Hilton Garden Inn Monterey</option>
        <option {% if q.accommodations is equalto "los_laureles" %} selected="selected" {% endif %} value="los_laureles">Los Laureles</option>
        <option {% if q.accommodations is equalto "quail_lodge" %} selected="selected" {% endif %} value="quail_lodge">Quail Lodge & Golf Club</option>
        <option {% if q.accommodations is equalto "other" %} selected="selected" {% endif %} value="other">Other</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="submit table-container">
      <input id="submitInfo" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect save-submit" type="submit" value="RSVP">
    </div>
  </div>

{% endif %}

  <div class="row bottom">
    <div class="col-sm-12 title">
      <h6>Questions? <a href="mailto:info@kirinandchris.com">info@kirinandchris.com</a></h56>
    </div>
  </div>

{% endblock page_content %}
  
{% block scripts %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='rsvp.js') }}"></script>
{% endblock scripts %}