{% extends "base.html" %}

{% block head %}
<title>RSVP Confirmation</title>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-teal.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Petit+Formal+Script|Didact+Gothic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsvp-confirmation.css') }}">
{% endblock head %}


{% block page_content %}
  <div class="row flex-center">
    <h1 class="naive">Success!</h1>
  </div>

  <div class="row flex-center">
    <i class="material-icons check-circle">check_circle</i>
  </div>

  <div class="row extra-margin">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="the-wedding-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Ceremony & Reception</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <!-- <strong>(3:30 – 10 PM, 60 Holman Road, Carmel Valley)</strong></br> -->
          Please arrive at Holman Ranch at 3:30pm to allow ample time for transportation to the ceremony site. Further details can be found <a href="/the-big-day">here</a>
        </div>
        <div title="Add to Calendar" class="mdl-card__actions mdl-card--border addeventatc" data-direct="google">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Add to Calendar
            <span class="start">10/15/2016 3:30 PM</span>
            <span class="end">10/15/2016 10:00 PM</span>
            <span class="timezone">America/Los_Angeles</span>
            <span class="title">Kirin & Chris Wedding - Ceremony & Reception</span>
            <span class="description">Please arrive at Holman Ranch at 3:30pm to allow ample time for transportation to the ceremony site.</span>
            <span class="location">60 Holman Road, Carmel Valley, CA 93924</span>
            <span class="date_format">MM/DD/YYYY</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="after-party-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">After Party</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <!-- <strong>(10 PM – 12 PM, 16 W Carmel Valley R, Carmel Valley)</strong></br> -->
          Keep the celebration going after the reception with dancing, drinks, and late-night bites at Will’s Fargo Steakhouse.
        </div>
        <div title="Add to Calendar" class="mdl-card__actions mdl-card--border addeventatc" data-direct="google">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Add to Calendar
            <span class="start">10/15/2016 10:00 PM</span>
            <span class="end">10/16/2016 12:00 AM</span>
            <span class="timezone">America/Los_Angeles</span>
            <span class="title">Kirin & Chris Wedding - After Party</span>
            <span class="description">Keep the celebration going after the reception with dancing, drinks, and late-night bites at Will’s Fargo Steakhouse.</span>
            <span class="location">16 W Carmel Valley R, Carmel Valley, CA 93924</span>
            <span class="date_format">MM/DD/YYYY</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 bottom">
      <div class="day-after-party-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">First Day as Mr. & Mrs.</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <!-- <strong>(11 AM – 3 PM), TBD</strong> </br> -->
          Joins us for drinks, snacks and Sunday football on our first full day as a married couple! Further details will be provided via email.
        </div>
        <div title="Add to Calendar" class="mdl-card__actions mdl-card--border addeventatc" data-direct="google">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Add to Calendar
            <span class="start">10/16/2016 11:00 AM</span>
            <span class="end">10/16/2016 3:00 PM</span>
            <span class="timezone">America/Los_Angeles</span>
            <span class="title">Kirin & Chris Wedding - First Day as Mr. & Mrs.</span>
            <span class="description">Joins us for drinks, snacks and Sunday football on our first full day as a married couple! Further details will be provided via email.</span>
            <span class="location">TBD</span>
            <span class="date_format">MM/DD/YYYY</span>
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock page_content %}


{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='rsvp-confirmation.js') }}"></script>
{% endblock scripts %}